<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Cloud Vision API with Spring code sample</title>
</head>
<body>

<div>
    <h1>Image Label Annotations</h1>
    <p>Returns labels classifying the content of the image:</p>
    <form action="/extractLabels">
        Web URL of image to analyze:
        <input type="text"
               name="imageUrl"
               value="https://www.google.com/logos/doodles/2018/childrens-day-2018-argentina-peru-5906663952351232-2x.png"/>
        <input type="submit"/>
    </form>
</div>

</body>
</html>