<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div layout:fragment="content">

    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">The Moment</a></li>
                <li>Personal Board</li>
            </ol>
            <h2> List </h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!--portfolio ex-->
    <section id="portfolio" class="portfolio">
        <div class="container">


            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters" >
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-Cat">Cat</li>
                        <li data-filter=".filter-Dog">Dog</li>
                        <li data-filter=".filter-Food">Food</li>
                        <li data-filter=".filter-Plant">Plant</li>
                        <li data-filter=".filter-HandWriting">HandWriting</li>
                        <li data-filter=".filter-Water">Water</li>
                        <li data-filter=".filter-Water">Cloud</li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="row portfolio-container">
                    <tr th:each="board:${responseDTO.dtoList}">
                        <div class="col-lg-4 col-md-6 portfolio-item filter-Cat" >
                            <div class="portfolio-wrap" style="text-align: center; width: 350px; height: 350px; line-height:350px">
                                <img th:each="picture:${board.pictures}" th:src="@{/display(fileName=${picture.getLink()})}" class="img-fluid" th:title="${picture.imageLabel}" alt="" style="vertical-align:middle">
                                <div class="portfolio-info" th:onclick="'location.href=\''+|javascript:movePage(${responseDTO.page}, ${board.pbNo})|+'\''" style="cursor:pointer;">
                                    <h4 th:each="tag:${board.tags}">[[|#${tag}]]</h4>
                                    <h1>
                                        <p th:each="picture:${board.pictures}">[[|${picture.imageLabel}]]</p>
                                        <p th:text="${#temporals.format(board.pbRegDate, 'yyyy-MM-dd HH:mm')}">[[${board.pbRegDate}]]</p>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </tr>
                </div>
            </div>



                <select id="searchType"  >
                    <option value="C"  th:selected="${pageRequestDTO.type} =='C'" >내용</option>
                    <option value="T"  th:selected="${pageRequestDTO.type} =='T'" >작성자</option>
                </select>
                <input type="text" id="keyword"  th:value="${pageRequestDTO.keyword}">
                <button id="searchBtn" class="btn btn-outline-warning" onclick="search()">Search</button>

<!--            페이징처리-->
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li th:if="${responseDTO.prev}" class="page-item">
                            <a class="page-link" th:href="|javascript:movePage(${responseDTO.start-1})|" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li th:each="num: ${#numbers.sequence( responseDTO.start , responseDTO.end)}" th:class="|page-item ${responseDTO.page == num?'active':''}|">
                            <a class="page-link" th:href="|javascript:movePage(${num})|">[[${num}]]</a>
                        </li>

                        <li th:if="${responseDTO.next}" class="page-item">
                            <a class="page-link" th:href="|javascript:movePage(${responseDTO.end+1})|" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>

                    </ul>

                </div>



            <th:block  layout:fragment="script">


                <script th:inline="javascript">


                    const result = [[${result}]]

                    if(result){
                        myModal.show()
                    }

                    const pageRequest = [[${pageRequestDTO}]]

                    function movePage(page, pbNo) {

                        console.log(pageRequest)

                        let uri ="";

                        const type = pageRequest.type
                        const keyword = pageRequest.keyword

                        let searchQuery = ''
                        if(type && keyword){
                            searchQuery += `&type=${type}&keyword=${keyword}`
                        }

                        if(pbNo) {
                            uri = `/personalboard/read?pbNo=${pbNo}&page=${page}` + searchQuery
                        }else {
                            uri = `/personalboard/list?page=${page}` + searchQuery
                        }
                        self.location = uri
                    }

                    function search() {
                        const searchSelect = document.querySelector("#searchType")

                        const type = searchSelect.options[searchSelect.selectedIndex].value

                        const keyword = encodeURI(document.querySelector("#keyword").value)

                        console.log("type", type, "keyword", keyword)

                        self.location =`/personalboard/list?page=1&type=${type}&keyword=${keyword}`
                    }


                    function setCategory(e, category){
                        e.preventDefault()
                        e.stopPropagation()

                        // alert(category)

                        const filteredStores = stores.filter(store => {
                            if(category === 'ALL'){
                                return true
                            }
                            return store.cat === category
                        })
                        console.log(filteredStores)

                        makeList(filteredStores)
                    }



                </script>


            </th:block>


</body>
</html>