<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/assets/css/canvasstyle.css}">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="index.html">The Moment</a></li>
                <li>Personal Board</li>
            </ol>
            <h2> Register </h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <div class="card-header">
            Board Register
        </div>

        <div class="card-body">
            <form th:action="@{/personalboard/register}" method="post">

                <div class="input-group mb-3">
                    <span class="input-group-text">Writer</span>
                    <input type="text" name="writer" class="form-control" placeholder="Writer">
                </div>

                <div class="input-group">
                    <span class="input-group-text">Content</span>
                    <textarea class="form-control" aria-label="With textarea" name="pbContent" rows="4"></textarea>
                </div>

                <div class="input-group">
                    <span class="input-group-text">해시 태그를 입력해주세요. (,로 구분하여 입력해주세요. 예) 태그1,태그2,태그3) </span>
                    <span contenteditable="true" type="text"  class="form-control tagInput" ></span>
                </div>

                <!--그림판시작-->
                <canvas id="jsCanvas" class="canvas"></canvas>
                <div class="controls"> <div class="controls_range">
                    <input type="range" id="jsRange" min="0.1" max="5.0" value="2.5" step="0.1" /> </div>
                    <div class="controls_btns"> <button id="jsMode">Fill</button>
                        <button id="jsSave">Save</button> </div>
                    <div class="controls_colors" id="jsColors">
                        <div class="controls_color jsColor" style="background-color: #2c2c2c;"></div>
                        <div class="controls_color jsColor" style="background-color: white;"></div>
                        <div class="controls_color jsColor" style="background-color: #FF3B30;"></div>
                        <div class="controls_color jsColor" style="background-color: #ff9500;"></div>
                        <div class="controls_color jsColor" style="background-color: #4cd963;"></div>
                        <div class="controls_color jsColor" style="background-color: #5ac8fa;"></div>
                        <div class="controls_color jsColor" style="background-color: #0579ff;"></div>
                        <div class="controls_color jsColor" style="background-color: #5856d6;"></div> </div> </div>

                <!--그림판 끝-->
                <div class="my-4">
                    <div class="float-end hiddens">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="result" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<th:block  layout:fragment="script">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/assets/js/canvasapp.js}"></script>
    <script th:inline="javascript">


        document.querySelector("button[type='submit']").addEventListener("click",function(e){

            e.preventDefault()
            e.stopPropagation()

            const targetDiv = document.querySelector(".hiddens")

            const hashTags = document.querySelector(".tagInput").innerHTML.split(",")

            if(hashTags && hashTags.length > 0 && hashTags[0].trim() !== ''){
                let tagStr =''
                for(let i = 0; i < hashTags.length; i++){
                    tagStr += "<input type='hidden' name='tags["+i+"]' value='"+ hashTags[i]+"'>"
                }
                targetDiv.innerHTML += tagStr
            }

            document.querySelector("form").submit()

        },false)


        const canvas = document.querySelector('.canvas');
        const context = canvas.getContext('2d');
        const control = document.querySelector('.control');
        const saveBtn = document.querySelector('.save-btn');
        const resultImage = document.querySelector('.result-image');
        let drawingMode; // true일 때만 그리기
        let brush = 'color'; // 'color', 'image'
        let colorVal = 'black'; // 색상

        const imgElem = new Image();
        imgElem.src = '.https://tistory1.daumcdn.net/tistory/0/MobileWeb/images/ilbuni2.png';

        function downHandler() {
            drawingMode = true;
        }

        function upHandler() {
            drawingMode = false;
        }

        function moveHandler(이벤트) {
            if (!drawingMode) return;

            switch (brush) {
                case 'color':
                    context.beginPath();
                    context.arc(이벤트.layerX, 이벤트.layerY, 10, 0, Math.PI*2, false);
                    context.fill();
                    break;
                case 'image':
                    context.drawImage(imgElem, 이벤트.layerX, 이벤트.layerY, 50, 50);
                    break;
            }
        }

        function setColor(이벤트) {
            brush = 이벤트.target.getAttribute('data-type');
            colorVal = 이벤트.target.getAttribute('data-color');
            context.fillStyle = colorVal;
            console.log(brush);
        }

        function createImage(){
            const url = canvas.toDataURL('image/png');
            console.log(url);
            const imgElem = new Image();
            imgElem.src = url;
            resultImage.appendChild(imgElem);
        }

        canvas.addEventListener('mousedown', downHandler);
        canvas.addEventListener('mousemove', moveHandler);
        canvas.addEventListener('mouseup', upHandler);
        control.addEventListener('click', setColor);
        saveBtn.addEventListener('click', createImage);

        </script>


</th:block>